* 
{
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	margin:0;
	padding:0;
}
body
{
	height: 100%;
	background-color: #1c1c1c;
}
#container
{
	width: 90%;
	height: 96%;
	position: absolute;
	top: 1%;
	left: 5%;
	border: 1px solid silver;
	border-radius: 5px;
}
.menu
{
	position: absolute;
	height: 10%;
	width: 100%;
}
.menu ul
{
	text-align: center;
	height : 100%;
}
.menu ul li
{
	position: relative;
	display: inline-block;
	margin: 0 auto;
	width: 22%;
	height: 100%;
	vertical-align: middle;
}
.menu ul li span
{
	display: block;
	width: 50px;
	height: 50px;
	line-height : 50px;
	position: relative;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
}
.menu ul li span img
{
	vertical-align: middle;
	cursor: pointer;
}
header
{	
	border-bottom: 1px solid silver;
	z-index: 1;
}
section
{
	position: absolute;
	top: 10%;
	height: 80%;
	width : 100%;
	background-color: #696969;
}
#screen {
	background-color: #fff;
	width: 200px;
	height: 200px;
	border: 1px solid black;
	position:absolute;
	top:50%;
	left:50%;
	margin-top: -100px;
	margin-left: -100px;
	line-height: 200px;
	overflow: hidden;
}
#defeat {
	display:none;
	text-align: center;
	font-weight: bold;
	font-size: : 15px;
	color : #700;
}
#img
{
	float:left;
	position:absolute;
	top:50%;
	left:50%;
	width : 70px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	margin-left: -35px;
	margin-top: -35px;
}
#img img
{
	vertical-align: middle
}
#water{
	float:left;
	position:absolute;
	top:0;
	left:-50px;
}
.dung
{
	float: left;
	position: absolute;
	width: 17px;
	height: 17px;
}
.food
{
	float: left;
	position: absolute;
	top : 50%;
	left: 40%;
	margin-top : -8px;
	margin-left: -8px;
}
.play
{
	float: left;
	position: absolute;
}
.skull
{
	float: left;
	position: absolute;
	top : 40%;
	left : 60%;
	margin-top : -7px;
	margin-left: -7px;
}
#stars1
{
	top:20px;
	left: 10px;
}
#stars2
{
	top: 20px;
	left: 160px;
}
footer
{
	bottom:0;
	border-top: 1px solid silver;
	z-index: 1;
}
.li-content
{
	color : silver;
	display: none;
	position: fixed;
	background-color : #1c1c1c;
	width: 250px;
	padding : 7px;
	border : 1px solid silver;
	z-index : 10;
}
#li0-content
{
	margin-top : -2px;
	border-top: none;
	border-radius: 0 0 5px 5px;
	top: 11%;
	left: 18%;

}
#li1-content
{
	margin-top : -2px;
	border-top: none;
	border-radius: 0 0 5px 5px;
	top: 11%;
	left: 38%;
}
#li4-content
{	
	bottom: 13%;
	margin-bottom : -4px;
	border-bottom: none;
	border-radius: 5px 5px 0 0;
	left: 18%;
}

fieldset 
{

	padding: 10px 7px 10px 7px;
	margin: 2px;
	width : 90%;
}
label 
{
	display: inline-block;
	width: 100px;
	text-align: right;
}
legend
{
	color: white;
	padding: 7px 5px 7px 5px;
}
.ui-progressbar
{
	height: 7px;
}
